<!DOCTYPE html>
<html>
<head>

    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <style>
        #wrapper {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            overflow: hidden;
        }

        #wrapper.toggled {
            /*padding-left: 250px;*/
            overflow: scroll;
        }

        #sidebar-wrapper {
            z-index: 1000;
            position: absolute;
            /*left: 250px;*/
            width: 0;
            height: 100%;
            /*margin-left: -250px;*/
            overflow-y: auto;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        #wrapper.toggled #sidebar-wrapper {
            /*width: 250px;*/
        }

        #page-content-wrapper {
            position: absolute;
            padding: 15px;
            width: 100%;
            overflow-x: hidden;
        }
        .xyz{
            min-width: 360px;
        }
        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0px;
        }
        .fixed-brand{
            width: auto;
        }
        /* Sidebar Styles */

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 235px;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 2px;
        }

        .sidebar-nav li {
            text-indent: 15px;
            line-height: 40px;
        }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
        }

        .sidebar-nav li a:hover {
            text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
        }

        .sidebar-nav > .sidebar-brand a:hover {
            background: none;
        }
        .no-margin{
            margin:0;
        }

        @media(min-width:768px) {
            #wrapper {
                /*padding-left: 250px;*/
            }
            .fixed-brand{
                width: 250px;
            }
            #wrapper.toggled {
                padding-left: 0;
            }

            #sidebar-wrapper {
                /*width: 250px;*/
            }

            #wrapper.toggled #sidebar-wrapper {
                /*width: 250px;*/
            }
            #wrapper.toggled-2 #sidebar-wrapper {
                width: 50px;
            }
            #wrapper.toggled-2 #sidebar-wrapper:hover {
                width: 250px;
            }


            #page-content-wrapper {
                padding: 20px;
                position: relative;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            #wrapper.toggled #page-content-wrapper {
                position: relative;
                margin-right: 0;
                padding-left: 250px;
            }
            #wrapper.toggled-2 #page-content-wrapper {
                position: relative;
                margin-right: 0;
                margin-left: -200px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                width: auto;

            }
        }

    </style>
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% block body %}
    {% block header %}{% endblock header %}
    <div id="wrapper">
        {#<div id="sidebar-wrapper" style="padding-left: 10px;">#}
            {#{% block navigation %} {% endblock navigation %}#}
        {#</div>#}
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %} {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
