{% extends "base.html.twig" %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">PDF Demo</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <button class="btn btn-default" onclick="window.location='{{ path('homepage') }}';">Back</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-12">
                {% for field in fields %}
                    <div class="form-group">
                        {% if field.field_type == 'PUSH_BUTTON' %}
                            <button class="btn btn-default">{{ field.field_name }}</button>
                        {% else %}
                            <label for="">{{ field.field_name }}</label>
                            <input type="{{ field.field_type }}" class="form-control" value="{{ field.field_value }}"/>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}