{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">PDF Demo</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                {{ form(form, { 'style': 'horizontal' }) }}
                {% if filename is defined and filename %}
                    {% set _url = path('display_form', {file: filename}) %}
                    <button class="btn btn-success" onclick="window.location = '{{ _url }}';">
                        Next
                    </button>
                    <div style="height: 800px; width: 100%">
                        <iframe width="100%" height="100%" src="{{ path('render_pdf', {file: filename}) }}" frameborder="0"></iframe>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <table class="table table-striped">
                    <caption class="text-center">Parsing Results</caption>
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th>Rect</th>
                        <th>Type</th>
                        <th style="width: 10px;">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if fields is defined %}
                        {% for field in fields %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ field.field_name }}</td>
                                <td>[{{ field.field_rect|join(', ') }}]</td>
                                <td>{{ field.field_type }}</td>
                                <td>{{ field.field_value }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}